<form action='/articles' method='POST'>
  <input type="text" id="title" value="Enter title here"
  <input type="text" id="content" value="Enter content here" />
  <input type="submit" id="submit" value="post it!" />
</form>